[tasbot]
serveraddr=springrts.com
serverport=8200
nick=NICK
password=PASSWORD
admins=BrainDamage,[S44]Neddie,_koshi_
alchemy-uri=mysql://springladder:6Qrp59mFfdmWwLE2@localhost/springladder
alchemy-uri=sqlite:////absolute/path
alchemy-verbose=0
debug=1
plugins=join_channels,laddermanager

springdedclientpath=/home/springbot/local/bin/spring-dedicated-client
logfile=$HOME/logs/ladder/mainbot.log
pidfile=$HOME/pids/ladder/mainbot.pid

[ladder]
bans=
channelautojoinlist=newbies,tourney

[join_channels]
channels=ladder