<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://www.w3.org/2005/10/profile">
	<title>SpringLadder</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/static/style.css" >
	<link rel="icon" type="image/ico" href="/images/favicon.ico" />
	{% block head %}{% endblock %}
</head>
<body>
	<div id='all'>
		<div id="header">
			<div class="logo">
				<a href="/"><img src='/static/banner.png' /></a>
			</div>
		</div>

		<div id="links">
				<a class="nav" href="/">Home</a>
				<a class="nav" href="/ladder">Ladders</a>
				<a class="nav" href="/match">Matches</a>
				<a class="nav" href="/player">Players</a>
				<a class="nav" href="/fame">Hall Of Fame</a>
				<a class="nav" href="/admin">Admin</a>
				<a class="nav last" href="/help">Help</a>
		</div>

		<div id="container">
			<div id="main">
				<div id="content">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>

		<div id="footer">
			<div class="left_footer">
				{% block left_footer %}{% endblock %}
			</div>
			<div class="right_footer">
				{% block right_footer %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>
