<h1> {{ladder.name}} scoreboard</h1>
<div id='results'>
	<table>
		<thead>
			<tr>
				<th scope='col' style='text-align:center;'>#</th>
				{% for h in rank_table.header %}
					<th scope='col'> {{h}} </th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in rank_table.rows %}
				<tr>
					<td style='text-align:center;'> {{loop.index}} </td>
					{% for field in row %}
						{% if loop.index0 == 0 %}
							<td><a href="/player?player={{field}}">{{field}}</a></td>
						{% else %}
							<td>{{field}}</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br/>
	<a href="/ladder?id={{ladder.id}}" > back to ladder </a>
</div>
