body
{
	background-color: #DBDBDB;
	margin:0px;
}

#all {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 850px;
	padding-left: 40px;
}

a{
	text-decoration:underline;
	color:#444;
}

table {
	border-collapse: collapse;
}

h1{
}

p{
	margin-top: 0px;
}
img{ 
	padding: 0px;
	margin: 0px;
	border: none;
}
#header{
	height:100px;
	clear:both;
}
#header img {	border:0;text-decoration: none; }

.logo{
	padding:10px 0 0 0px;
	font-family: monospace;
	font-variant: small-caps;
	color: #ccc;
	font-size: 450%;
	text-align: center;
	font-weight: bolder;
}

/*---------------- menu tab----------------------*/


#tab{
	position: absolute;
	width: 87px;
	height: 15px;
	background-image: url(/images/tab.png);
	bottom:-2px;
	left: 50%;
	margin-left: -44px;
	font-size: 9px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 17px;
	color: #EEE;
	text-indent: 27px;
}

/*Internal Link Bar*/

#barbackground{
	position: absolute;
	width: 34px;
	height: auto;
	margin-left:-40px;
	margin-top: 200px;
	border: #4B4B4B solid 1px;
}

#barinnerborder{
	width: 32px;
	height: auto;
	background-color: #7C7C7C;
	border: 1px solid #CCCCCC;
	padding-top: 5px;
}

.imgthing{
margin-left: 4px;
margin-bottom: 0px;}

#links{
	width: 100%;
	height: 34px;
	background-color: #666;
	background-image: url(/images/nav.png);
	text-align: center;
}

a:link.nav{ 
	margin-left: 10px;
	color: #AAA;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 35px;
	font-size: 12px;
	text-decoration: none;
	outline: none;
	background-image: url(/images/splitter.png);
	background-position: right;
	background-repeat: no-repeat;
	padding-top: 9px;
	padding-bottom: 10px;
	padding-right: 11px;
}

a:visited.nav{
	margin-left: 10px;
	color: #AAA;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 35px;
	font-size: 12px;
	text-decoration: none;
	outline: none;
	background-image: url(images/splitter.png);
	background-position: right;
	background-repeat: no-repeat;
	padding-top: 9px;
	padding-bottom: 10px;
	padding-right: 11px;
}

a:hover.nav{
	color: #FFF;
}

a:active.nav{
	color: #FFF;
}

/*Last Link*/

a:link.nav.last{ 
	background-image: none;
}

a:visited.nav.last{
	background-image: none;
}

a:hover.nav.last{
	background-image: none;
}

a:active.nav.last{
	background-image: none;
}


/*----------------content----------------*/
#container{
	position: relative;
	width: 850px;
	z-index: 10;
}

#main{
	width: 848px;
	background-image:url(/images/grad.png);
	background-repeat: repeat-x;
	border-right: 1px solid #4B4B4B;
	border-left: 1px solid #4B4B4B;
	background-color: #E6E6E6;
	border-bottom: 1px solid #4B4B4B;
}

#content{
	padding: 10px;
	min-height: 100px;
	overflow: hidden;
	color: #333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	background-image: url(/images/diag.png);
}

#content ul {
	list-style-position: inside;
}

#content li {
	padding-top: 10px;
}

#content thead {
	font-weight: bold;
}

.evengridcell {
	background-color:#cbcbcb;
	border: 1px solid #4B4B4B;
	margin: 5px;
	background-image: url(/images/diag.png);
	
}
.unevengridcell {
	background-color:#ebebeb;
	border: 1px solid #4B4B4B;
	background-image: url(/images/diag.png);
	margin: 5px;
}

#index_block_left {
	margin-left: -100%;
	width: 33%;
	float: left;
}

#index_block_center {
	padding: 10px;
	margin: 0 33% 0 33%;
	border-left: 2px dashed #000;
	border-right: 2px dashed #000;	
}

#index_block_right {
	margin-left: -33%;
	width: 33%;
	float: left;
}

#index_block_center_wrapper {
	width: 100%;
	float: left;
	margin-top: -10px;
}

#index_block_content {
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	font-size: 80%;
}

#index_block_content ul li {
 	margin-left: -40px;
	padding: 2px 2px;
	list-style: none;
	list-style-position:inside;
}
#index_block_content h1 {
	margin-bottom: 0;
}

.command {
	background-color: #eee;
	color: #f00;
	font-family: monospace;
}

#help ul{
	list-style-type: none;
	padding: 0px;
}
#help li{padding-top: 15px;list-style-position: inside;}
#help p {
	margin-bottom:0.0em;
}

#fame h3 {
	margin: 0;
	margin-top:2em;
	margin-bottom:0.5em;
    padding:7px;
    height:20px;
    background:#6b6b6b;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    font-size:1em; 
}

#ladderlist td {
	width: 33%;
	vertical-align: top;
	padding-left:2%;
	padding-right:2%;
	padding-bottom:2%;
}
#ladderview td{
	vertical-align: top;
	padding-left:2%;
	padding-right:2%;
	padding-bottom:2%;
}

#ladderlist h4 {
	margin-bottom:0.3em;
}

#ladderlist h3 {
	font-weight: bold;
	font-size: 1.5em;
}

#matchgrid h3 {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom:0.1em;
}

#ladderlist ol {
	margin-bottom:0.1em;
	margin-top:0.1em;
	padding-top:0px;
}

#ladderlist table {
	width: 100%;
	margin-top: 0px;
}

#matchgrid td {
	width: 33%;
	vertical-align: top;
	padding-left:2%;
	padding-right:2%;
	padding-bottom:2%;
}

#matchgrid h5 {
	text-align: center;
}
#matchgrid table {
	width: 100%;
	margin-top: 0px;
}

.padded td{
	padding: 0.3em;	
}

#results table {
	width:60%;
}
#wideresults table {
	width:90%;
}
#wideresults th {
	text-align:left;
}
#results td {
	padding: 0.3em;
	margin: 1.2em;
}

#results th {
	font-weight: bold;
	text-align: left;
}

#match tr {
	border-left: 1px dashed #444;
	border-right: 1px dashed #444; 
}

#inlinelist ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
}

#inlinelist ul li {
	margin-left: 0;
	padding: 3px 15px;
	list-style: none;
	display: inline;
}


#inlinelist ul li.first {
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
}

.invalid_field {
	background-color: #eee;
}

.invalid_field_errors {
	color: #f00;
	font-family: monospace;
}

/*---------------------pagination-----------------------------*/


/*----footer---------*/
#footer{
	width: 848px;
	height: 30px;
	text-align: center;
	color: #666;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	line-height: 20px;
	text-decoration: none;
	outline: none;
}

.left_footer{
	float:left;
	padding:7px 0 0 35px;
}

.right_footer{
	float:right;
	padding:15px 40px 0 0;
}

/* ----------------------- collapsible container -----------------*/

.collapsible {
    margin: 0;
    padding:7px;
    height:20px;
    border-top:#f0f0f0 1px solid;
    background: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    color: #000;
    font-size:1em; 
}

.collapse-open {
    background:#6b6b6b;
    color: #fff;
}

.collapse-open span {
	display:block;
    float:left;
    padding:9px;
    background:url(/images/minus.png) center center no-repeat;
} 

.collapse-close span {
    display:block;
    float:left;
    background:url(/images/plus.png) center center no-repeat;
    padding:9px;
}

.collapsible_container {
	border-left:#6b6b6b 1px solid;
	border-right:#6b6b6b 1px solid;
	border-bottom:#6b6b6b 1px solid;
	background-color:#dbdbdb;
	background-image: url(/images/diag.png);
	margin: 0;
	padding: 0;
}

.collapsible_content { 
	margin: 0;
    padding:10px;
}